<!DOCTYPE html>
<html>
  <head>
    <title>Solution</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render '/layouts/navbar' %>
    <header>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </header>
    <div class="container">
      <div class="row">
          <div class="col-xl">
              1 of 3
          </div>
          <div class="col-xl-10" style= "float: center">
            <%= yield %>
          </div>
          <div class="col-xl">
            3 of 3
          </div>
        </div>
      </div>

  </body>
</html>
